<div class="box home-box">
  <h1>EDIT THINGS</h1>
  <form id="edit-item-form" method="post" action="/users/{{result.user_id}}/{{result.id}}/edit/">
    <input name="todo" type="text" value="{{result.todo}}" class="input"></input>
    <input name="description" type="text" value="{{result.description}}" class="input"></input>
    <input type="submit" value="Submit" class="button is-primary"></input>
  </form>
</div>