<div class="hero-head">
  <header class="nav">
    <h1 class="title nav-logo">hangman</h1>
  </header>
</div>
<div id="list">
  <h1 class="list-title">Ok, let's get this shit done...</h1>
  {{#each sortedItems}}
    <div>H</div>
  {{/each}}
</div>


