<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="splash-logo"class="splash-logo title">HANGMAN</h1>
      <a href="/newgame" class="button primary is-large">play new game</a>
    </div>
  </div>
</section