<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <h1 id="title nav-logo">HANGMAN</h1>
          <a href="/newgame" class="button primary is-large">play new</a>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="splash-logo"class="splash-logo title">listlike</h1>
    
      <h2 class="subtitle">handle your shit quicker so you can go adventuring.</h2>
    </div>
  </div>
</section