<h1>login</h1>
<form method="post" action="/users/login">
  <input placeholder="Email" name="email" type="text"></input>
  <input placeholder="Password" name="password" type="text"></input>
  <input value="Submit" type="submit"></input>
</form>