/***********************************
GENERAL STYLING
***********************************/
a {
  color: #00B7FF;
}

.hero-head p,
.hero-head p:not(:last-child) {
  margin-bottom: 2px;
}



/***********************************
GAME AREA STYLING
***********************************/
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
}

.gameplay-letters {
  margin-bottom: 20px;
}

.blank-letters {
  display: flex;
  flex-direction: row;
}

.blankletter-lines {
  min-height: 3px;
  max-height: 3px;
  max-width: 15px;
  min-width: 15px;
  margin:3px;
  background-color: black;
}

#hangman-guess-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hangman-letters {
  margin: 3px;
  max-width: 15px;
  min-width: 15px;
  text-align: center;
}

.gameStatus-sidebar {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.incorrectGuessCount {
  font-size: 4em;
  margin: 0px;
}

.incorrectGuessedLetters {
  display: flex;
  flex-direction: row;
}

.incorrectletters {
  font-size: 1.5em;
  margin: 5px;
}

.modal-card-body img {
  max-height: 300px;
}
