/***********************************
GENERAL STYLING
***********************************/
a {
  color: #00B7FF;
}



/***********************************
GAME AREA STYLING
***********************************/
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.gameplay {
  margin: 30px 20px 0px 20px;
}

.blank-letters {
  display: flex;
  flex-direction: row;
}

.blankletter-lines {
  min-height: 3px;
  max-height: 3px;
  max-width: 15px;
  min-width: 15px;
  margin:3px;
  background-color: black;
}

.hangman-letters {
  margin: 3px;
  max-width: 15px;
  min-width: 15px;
  text-align: center;
}

.gameStatus-sidebar {
  margin: 0px 20px;
}

.incorrectGuessCount {
  font-size: 4em;
  margin: 0px;
}

.incorrectGuessedLetters {
  display: flex;
  flex-direction: row;
}
